body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
  }
  p {
    color: red;
  }

header {
    height: 20%;
    min-width: auto;
    background-repeat: no-repeat;
} 
.left {
    FONT-VARIANT: JIS04;
    float: left;
    width: 45%;
    border: 5px solid blue;
    margin-right: 0;
    margin-left: 3%;    
}

.right {
    float: right;
    width: 45%;
    border: 5px solid green;
    margin-left: 0;
    margin-right: 3%
}

.monsterBox {
    border: 5px solid red;
}

.monsterBox header {
    text-align: center;
}
.userControls {
    border: 5px solid gray;
    overflow: overlay;
}
.userControls header {
    text-align: center;
    
}

..difficultyBtn {
    background-color: black;
    border:none;
    color:white;
    text-align:center;
    text-decoration: none;
    display:inline-block;
    font-family:candara;
    border-radius: 3%;
}

.difficultyBtn button {
    background-color: black;
    border:1px solid red;
    color: white;
    padding: 10px 24px;
    cursor: hand;
    float: left
}

.difficultyBtn button:not(:last-child) {
    border-right:none;
}

.difficultyBtn:after {
    content: "";
    clear: both;
    display: table;
}

.difficultyBtn:active{
    background-color:dimgray;
}

.difficultyBtn button:hover, .active {
    background-color: darkgray;
}

.numberInput {
    max-width: 10%;
    min-width: 5%;
}

.nameInput {
    min-width: 10%;
    max-width: 20%;
}