.mainHeader {
    display: block;
    width: 100%;
    background: linear-gradient(black,red);
    height: 7em;
    color: white;
    text-align: center;
}

.mainHeader h1 {
    margin-block-start: auto;
}

body {
    background: url(/images/pastoral.jpg) no-repeat;
    margin: 0px;
}

.charactersCell header {
    text-align: center;
    border: 1px solid red;
    
}

.charactersCell {
    background: url(/images/heroes.jpg) no-repeat;
    background-size: cover;
    color: white;
    border-radius: 10%;
}

.charactersCell li {
    display: table;
    margin: 0px auto 0px auto;
    color: honeydew;
    text-shadow: 1px 1px red;
}

.userFields {
    margin-left: auto;
    margin-right: auto;
}

.userFields header {
    text-align: center;
}

.inputs {
    min-width: 315px;
    width: 40%;
    /* border: 1px solid black; */
    height: 180px;
    min-height: 20%;
    border-radius: 13%;
    background: url(/images/attack.jpg) no-repeat;
    background-size: cover;
    color: cornsilk;
    text-shadow: 1px 3px 4px black;
    font-size: larger;
}

.firstRow {
    height: 325px;
}

.generate {
    background-color: saddlebrown;
    color: yellow;
    border-radius: 10%;
    display: block;
    margin: auto;
}
.difficultyBtn {
    border:none;
    color:white;
    text-align:center;
    text-decoration: none;
    display:block;
    font-family:candara;
    border-radius: 3%;
}

.difficultyBtn .difficulty {
    background-color: black;
    border: 1px solid red;
    color: white;
    padding: 5px 6px;
    cursor: pointer;
    float: left;
    width:20%;
}

.difficultyBtn button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }

/* Clear floats (clearfix hack) */
.btn-difficultyBtn:after {
    content: "";
    clear: both;
    display: table;
  }
  
/* Add a background color on hover */
.difficultyBtn button:hover {
background-color: #3e8e41;
}